#banner {
  background-image: url(http://www.dreasgrech.com/upload/extinfobar/img/gradient_bar.png);
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  border-bottom: 1.5px solid #B6BAC0;
  height: 35px;
  text-align: center;
}

#container {
  height: 100%;
}

#frameviewer {
  width: 100%;
}

#go {
  margin-top: 3px;
  background-image: url(http://www.dreasgrech.com/upload/extinfobar/img/button_gradient.png);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgb(152, 143, 102);
  margin: 6px;
  padding: 3px 8px 3px 9px;
  width: 200px;
  cursor:pointer;
}

.go_click {
  background-image: url(http://www.dreasgrech.com/upload/extinfobar/img/button_click.png) !important;
}

#go:hover {
  border: 1px solid black;
}
